.main-search-container {
  /* background: linear-gradient(to right, rgba(51, 51, 51, 0.85), rgba(51, 51, 51, 0.85)) !important; */
  background-color: rgba(51, 51, 51, 0.85);
}
 .main-search-container:before { background: rgba(51,51,51,0.85); }
.main-search-inner{
  padding-top: 20px;
}
.main-search-container h2,
.main-search-container h5 {
  color: white;
}
.main-search-container h4 {
  color: rgba(255, 255, 255, 0.65);
}
.main-search-container .main-search-input-item {
  border: none;
}
.main-search-container .main-search-input-item #autocomplete-input {
  padding-right: 60px;
  border-right: 1px solid #d2cccc;
  border-radius: unset;
}
.main-search-container .text {
  padding-left: 10px;
  border-left: 1px solid #d2cccc;
  border-radius: unset;
}
.main-search-container #googleMap {
  padding-right: 30px;
}
.main-search-container .highlighted-categories i {
  padding-left: 10px;
}

.fa-map-marker {
  font-size: 20px;
}

.autocomplete-dropdown-container {
  text-align: right;
  font-size: 15px;
  margin-left: 20px;
  line-height: 2;
  z-index: 100;
}

@media screen and (max-width: 1260px) {
  .autocomplete-dropdown-container {
    padding: 0px !important;
    margin-left: 30px;
  }
}
@media screen and (max-width: 991px) {
  #googleMap {
    padding-right: 0px !important;
    margin-left: 20px;
  }

  #autocomplete-input .main-search-container {
    border-right: none !important;
  }

  .location {
    background-color: white;
    border-radius: 3px;
  }

  .location-search-input {
    border: none !important;
    box-shadow: none !important;
  }

  a {
    z-index: 11;
  }

  .text {
    border-left: none !important;
  }
}
@media screen and (max-width: 577px) {
  #googleMap {
    padding-right: 0px !important;
    margin: 0px;
  }

  .text {
    border-left: none !important;
  }
}