.container::before {
    content: none !important;
}

.container::after {
    content: none !important;
}
.container-forgot-password{
    height: 100vh;
}
.wrapper-forgot-password{
    width: 400px;
}
.css-shadow{
    box-shadow: 0px 2px 6px #0000001F;

}
.input-group{
    border: 1px solid #ccc !important;
    border-radius: 3px !important;
   box-shadow:  0 1px 3px 0px rgba(0, 0, 0, 0.06) !important;
}
.input-group:hover{
   box-shadow:  0px 2px 5px 3px rgba(0, 0, 0, 0.06) !important
}
.input-group-addon {
    
    border: none !important;
   border-radius: none !important;
    background-color: white !important;
    box-shadow: none !important;
}
.form-control{
    border: none !important;
    border-radius: none !important;
     background-color: white !important;
     box-shadow: none !important;

}
.submit{
    padding: 10px 30px !important;
    background-color: #f91942 !important;
    border-radius: 50px !important;
    border-color:#ccc !important ;
    font-size:larger !important;
    font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
.linka{
    font-size: 15px !important;
    font-weight: normal !important;
    color:#f91942 !important;
}
.text{
    font-size: 15px !important;
    font-weight: normal !important;
}
i{
    font-size: 21px;
}
label{
    color: #666;
    font-size: 15px;
    font-weight: normal !important;
}